{% extends 'blog/layout.html' %}

<!--*    title    --->
{% block title %} Blog {% endblock %}

<!--*    head    --->
{% block head %} {%load static%}

<meta name="keywords" content="Post 1 Headline" />
<meta name="description" content="" />
<link rel="stylesheet" href="{% static 'CSS/nicepage.css' %}" media="screen" />
<link rel="stylesheet" href="{% static 'CSS/Blog-Post.css' %}" media="screen" />
<script
  class="u-script"
  type="text/javascript"
  src="{% static 'JS/jquery.js' %}"
  defer=""
></script>
<script
  class="u-script"
  type="text/javascript"
  src="{% static 'JS/nicepage.js' %}"
  defer=""
></script>
<link rel="icon" href="{% static 'images/favicon.png" />
<link
  id="u-theme-google-font"
  rel="stylesheet"
  href="{% static 'CSS/fonts.css' %}"
/>

<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "Organization",
    "name": "Sakar",
    "url": "index.html",
    "logo": "images/default-logo.png"
  }
</script>
<meta property="og:title" content="Blog Post" />
<meta property="og:type" content="website" />
<meta name="theme-color" content="#478ac9" />
<link rel="canonical" href="index.html" />
<meta property="og:url" content="index.html" />

{% endblock %}

<!--*   body     --->
{%block body%}
<!--   your Body starts here    --->

<section class="u-clearfix u-section-1" id="sec-b805">
  <!--post_details--><!--post_details_options_json--><!--{"source":""}--><!--/post_details_options_json--><!--blog_post-->
  <div class="u-container-style u-post-details u-post-details-1">
    <div class="u-container-layout u-container-layout-1">
      <div class="u-shape u-shape-svg u-text-custom-color-1 u-shape-1">
        <svg
          class="u-svg-link"
          preserveAspectRatio="none"
          viewBox="0 0 160 110"
        >
          <use
            xmlns:xlink="http://www.w3.org/1999/xlink"
            xlink:href="#svg-dd8e"
          ></use>
        </svg>
        <svg
          class="u-svg-content"
          viewBox="0 0 160 110"
          x="0px"
          y="0px"
          id="svg-dd8e"
        >
          <path
            d="M57.5,5.6c-17-10.9-35.9-4.1-45.4,4.5C-4.4,24.9-13.6,56.8,50.4,93.6c106.8,61.5,141.6-69.8,77.4-78.5
	C84.5,9.3,88.9,25.8,57.5,5.6z"
          ></path>
        </svg>
      </div>
      <!--blog_post_header-->
      <h2 class="u-blog-control u-text u-text-1">
        <a class="u-post-header-link" href="blog/post.html"
          ><!--blog_post_header_content-->{{blog_post.title}}<!--/blog_post_header_content--></a
        >
      </h2>
      <!--/blog_post_header--><!--blog_post_image-->
      <img
        src="/media/{{blog_post.cover_image}}"
        alt=""
        class="
          u-blog-control u-expanded-width u-image u-image-default u-image-1
        "
      /><!--/blog_post_image-->
      <div class="u-shape u-shape-svg u-text-custom-color-2 u-shape-2">
        <svg class="u-svg-link" preserveAspectRatio="none" viewBox="0 0 160 50">
          <use
            xmlns:xlink="http://www.w3.org/1999/xlink"
            xlink:href="#svg-2e44"
          ></use>
        </svg>
        <svg
          class="u-svg-content"
          viewBox="0 0 160 50"
          x="0px"
          y="0px"
          id="svg-2e44"
          style="enable-background: new 0 0 160 50"
        >
          <path
            d="M133,26.7c-13.9,9.7-25.8,9.7-39.8,0c-9.1-6.3-16.8-6.3-25.9,0c-13.8,9.6-25.1,9.6-38.9,0c-9.2-6.4-15.4-6.4-24.6,0L0,22
	c11.2-7.8,20.6-8.1,32.2,0c11,7.6,19,8.5,31.3,0c11.6-8.1,22.4-7.7,33.5,0c11.4,8,20.3,8.3,32.2,0c11.6-8.1,19.2-8.1,30.8,0
	l-3.8,4.7C146.9,20.2,142.3,20.2,133,26.7z M133,10.8c-13.9,9.7-25.8,9.7-39.8,0c-9.1-6.3-16.8-6.3-25.9,0
	c-13.8,9.6-25.1,9.6-38.9,0c-9.2-6.4-15.4-6.4-24.6,0L0,6.1c11.2-7.8,20.6-8.1,32.2,0c11,7.6,19,8.5,31.3,0C75.1-2,85.9-1.6,97,6.1
	c11.4,8,20.3,8.3,32.2,0C140.8-2,148.4-2,160,6.1l-3.8,4.7C146.9,4.3,142.3,4.3,133,10.8z M32.2,38c11,7.6,19,8.5,31.3,0
	c11.6-8.1,22.4-7.7,33.5,0c11.4,8,20.3,8.3,32.2,0c11.6-8.1,19.2-8.1,30.8,0l-3.8,4.7c-9.3-6.5-13.9-6.5-23.3,0
	c-13.9,9.7-25.8,9.7-39.8,0c-9.1-6.3-16.8-6.3-25.9,0c-13.8,9.6-25.1,9.6-38.9,0c-9.2-6.4-15.4-6.4-24.6,0L0,38
	C11.2,30.2,20.6,29.9,32.2,38z"
          ></path>
        </svg>
      </div>
      <!--blog_post_content-->
      <div class="u-blog-control u-post-content u-text u-text-2">
        <!--blog_post_content_content-->{{blog_post.content}}<!--/blog_post_content_content-->
      </div>
      <!--/blog_post_content-->
    </div>
  </div>
  <!--/blog_post--><!--/post_details-->
</section>

{% endblock %}

<!--*   script     --->
{% block script %}
<!--   your Body starts here    --->

{% endblock %}
