{% extends 'T_kart/layout.html' %}

<!--*    title    --->
{% block title %} T-Kart Product {% endblock %}

<!--*    head    --->
{% block head %} {%load static%} {% load cart %}

<meta name="keywords" content="Wishlist" />
<meta name="description" content="" />
<link rel="stylesheet" href="{% static 'CSS/nicepage.css' %}" media="screen" />
<link rel="stylesheet" href="{% static 'CSS/Wishlist.css' %}" media="screen" />
<script
  class="u-script"
  type="text/javascript"
  src="{% static 'JS/jquery.js' %}"
  defer=""
></script>
<script
  class="u-script"
  type="text/javascript"
  src="{% static 'JS/nicepage.js' %}"
  defer=""
></script>
<link rel="icon" href="{% static 'images/favicon.png' %}" />
<link
  id="u-theme-google-font"
  rel="stylesheet"
  href="{% static 'CSS/fonts.css' %}"
/>

<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "Organization",
    "name": "Sakar",
    "url": "index.html",
    "logo": "images/default-logo.png"
  }
</script>
<meta property="og:title" content="Wishlist" />
<meta property="og:type" content="website" />
<meta name="theme-color" content="#478ac9" />
<link rel="canonical" href="index.html" />
<meta property="og:url" content="index.html" />

{% endblock %}

<!--*   body     --->
{%block body%}
<!--   your Body starts here    --->

<section class="u-clearfix u-section-1" id="sec-b469" style="min-height: 50vh;">
  {%if products %}
  {% for product in products%}
  <div class="u-clearfix u-sheet u-sheet-1" id="{{product.id}}">
    <div class="u-clearfix u-expanded-width u-layout-wrap u-layout-wrap-1">
      <div class="u-gutter-0 u-layout">
        <div class="u-layout-row">
          <div
            class="
              u-align-left
              u-container-style
              u-layout-cell
              u-shape-rectangle
              u-size-18
              u-layout-cell-1
            "
          >
            <div
              class="u-container-layout u-valign-middle u-container-layout-1"
            >
              <img
                class="u-expanded-width u-image u-image-default u-image-1"
                src="/media/{{product.image}}"
                alt=""
                style="object-fit: contain"
                data-image-width="400"
                data-image-height="265"
              />
              <form action="/t-kart/wishlist/" method ="post">
                {% csrf_token %}
                <input type="text" hidden name="product" value="{{product.id}}">
                <input type="text" hidden name="remove_wishlist" value="True">
                <input
                  type="submit"
                  class="
                    u-active-none
                    u-align-center-xs
                    u-border-2
                    u-border-custom-color-1
                    u-border-hover-custom-color-3
                    u-btn
                    u-button-style
                    u-hover-none
                    u-none
                    u-text-custom-color-2
                    u-text-hover-custom-color-2
                    u-btn-1"
                    value="Remove from Wishlist"
                  ></input
              ></form>
            </div>
          </div>
          <div
            class="u-container-style u-layout-cell u-size-18 u-layout-cell-2"
          >
            <div
              class="u-container-layout u-valign-middle u-container-layout-2"
            >
              <h2
                class="
                  u-align-center-xs
                  u-align-left-lg
                  u-align-left-md
                  u-align-left-sm
                  u-align-left-xl
                  u-text
                  u-text-default
                  u-text-2
                "
              >
                {{product.product_name}}
              </h2>
            </div>
          </div>
          <div
            class="
              u-align-center
              u-container-style
              u-layout-cell
              u-size-9
              u-layout-cell-3
            "
          >
            <div
              class="
                u-container-layout
                u-valign-middle-lg
                u-valign-middle-md
                u-valign-middle-sm
                u-valign-middle-xl
                u-container-layout-3
              "
            >
              <h1 class="u-text u-text-2">${{product.price}}</h1>
            </div>
          </div>
          <div class="u-container-style u-layout-cell u-size-15">
            <div
              class="u-container-layout u-valign-middle u-container-layout-4"
            >




            {% if product|is_in_cart:request.session.kart %}
            <div style="display: flex; align-items: center; justify-content: center; margin-top: 20px ">
              <form action="/t-kart/wishlist/#{{product.id}}" method="post">
                {% csrf_token %}
                <input type="text" hidden name="product" value="{{product.id}}">
                <input type="text" hidden name="remove" value="True">
                <input id='minus' type="submit"
                  class='u-btn-1 u-button-style u-custom-color-1 u-text-hover-custom-color-1 minus'
                  style="padding: 10px; width: 40px;" value="-"></input>
              </form>
              <span id='val' class="u-custom-font" style="margin: 20px 7px 0px 7px;">
                {{product|cart_product_qty:request.session.kart}} in kart</span>
              <form action="/t-kart/wishlist/#{{product.id}}" method="post">
                {% csrf_token %}
                <input type="text" hidden name="product" value="{{product.id}}">
                <input id='plus' type="submit"
                  class=' u-btn-1 u-button-style u-custom-color-1 u-text-hover-custom-color-1 plus'
                  style="padding: 10px; width: 40px; " value="+"></input>
              </form>
            </div>
            {% else %}
            
            <form action="/t-kart/wishlist/#{{product.id}}" method="POST">
                {% csrf_token %}
              <input type="text" hidden name="product" value="{{product.id}}">
              <input
                type="submit"
                class="
                  u-align-center
                  u-btn
                  u-button-style
                  u-custom-color-1
                  u-hover-custom-color-2
                  u-text-hover-custom-color-1
                  u-btn-2"
                  value="Add to Kart"
                ></input>
              </form>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
    
  </div>
  {% endfor %}
  {% else %}
  <div style="justify-content: center; margin:70px;">
    <h1>Opps...! nothing in your Wishlist</h1>
    <a href="/t-kart/">
      <h2 style="color: #05f4b7">Add Products to Wishlist >>></h2>
    </a>
  </div>
  {% endif %}
</section>

{% endblock %}
