{% extends 'T_kart/layout.html' %}

<!--*    title    --->
{% block title %} T-Kart Product {% endblock %}

<!--*    head    --->
{% block head %} {%load static%}

<meta name="keywords" content="Wishlist" />
<meta name="description" content="" />
<link rel="stylesheet" href="{% static 'CSS/nicepage.css' %}" media="screen" />
<link rel="stylesheet" href="{% static 'CSS/Wishlist.css' %}" media="screen" />
<script
  class="u-script"
  type="text/javascript"
  src="{% static 'JS/jquery.js' %}"
  defer=""
></script>
<script
  class="u-script"
  type="text/javascript"
  src="{% static 'JS/nicepage.js' %}"
  defer=""
></script>
<link rel="icon" href="{% static 'images/favicon.png' %}" />
<link id="u-theme-google-font" rel="stylesheet" href="{% static 'CSS/fonts.css' %}" />

<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "Organization",
    "name": "Sakar",
    "url": "index.html",
    "logo": "images/default-logo.png"
  }
</script>
<meta property="og:title" content="Wishlist" />
<meta property="og:type" content="website" />
<meta name="theme-color" content="#478ac9" />
<link rel="canonical" href="index.html" />
<meta property="og:url" content="index.html" />

{% endblock %}

<!--*   body     --->
{%block body%}
<!--   your Body starts here    --->

<section class="u-clearfix u-section-1" id="sec-b469">
  <div class="u-clearfix u-sheet u-sheet-1">
    <div class="u-clearfix u-expanded-width u-layout-wrap u-layout-wrap-1">
      <div class="u-gutter-0 u-layout">
        <div class="u-layout-row">
          <div
            class="
              u-align-left
              u-container-style
              u-layout-cell
              u-shape-rectangle
              u-size-18
              u-layout-cell-1
            "
          >
            <div
              class="u-container-layout u-valign-middle u-container-layout-1"
            >
              <img
                class="u-expanded-width u-image u-image-default u-image-1"
                src="{% static 'images/3.svg' %}"
                alt=""
                data-image-width="400"
                data-image-height="265"
              />
              <a
                href="https://nicepage.com/k/retro-website-templates"
                class="
                  u-active-none
                  u-align-center-xs
                  u-border-2
                  u-border-custom-color-1
                  u-border-hover-custom-color-3
                  u-btn
                  u-button-style
                  u-hover-none
                  u-none
                  u-text-custom-color-2
                  u-text-hover-custom-color-2
                  u-btn-1
                "
                >Remove from Wishlist</a
              >
            </div>
          </div>
          <div
            class="u-container-style u-layout-cell u-size-18 u-layout-cell-2"
          >
            <div
              class="u-container-layout u-valign-middle u-container-layout-2"
            >
              <h2
                class="
                  u-align-center-xs
                  u-align-left-lg
                  u-align-left-md
                  u-align-left-sm
                  u-align-left-xl
                  u-text
                  u-text-default
                  u-text-1
                "
              >
                Product Name (ehygfuywegufbi)
              </h2>
            </div>
          </div>
          <div
            class="
              u-align-center
              u-container-style
              u-layout-cell
              u-size-9
              u-layout-cell-3
            "
          >
            <div
              class="
                u-container-layout
                u-valign-middle-lg
                u-valign-middle-md
                u-valign-middle-sm
                u-valign-middle-xl
                u-container-layout-3
              "
            >
              <h1 class="u-text u-text-2">$99.00</h1>
            </div>
          </div>
          <div class="u-container-style u-layout-cell u-size-15">
            <div
              class="u-container-layout u-valign-middle u-container-layout-4"
            >
              <a
                href="https://nicepage.com/k/apple-website-templates"
                class="
                  u-align-center
                  u-btn
                  u-button-style
                  u-custom-color-1
                  u-hover-custom-color-2
                  u-text-hover-custom-color-1
                  u-btn-2
                "
                >Add to Kart</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}
